.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  transition: all 0.1s linear;
}

.dashboard-screen-card{
	width: 500px;
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: auto;
  border-radius: 20px;
  border-bottom: 1px solid #3c3c3c2e;
}

.dashboard-screen-card::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
.dashboard-screen-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.dashboard-screen-card::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.dashboard-screen-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

